body {
  margin: 0;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  background-image: url(/src/assets/images/vintage-background.png);
  background-color: #fffeee;
  transition: background-image 0.6s;
  background-position: top;
  background-repeat: repeat;
  background-size: cover;
  text-align: center;
}

body.dark-mode {
  transition: background-image 0.4s;
  background-image: url(/src/assets/images/dark-background.png);
  background-color: #1d3040;
}

/* These need to be 100% so their contents can fill the page. */
html, body, #app {
  height: 100%;
}

/* Make top-navbar background look cool. */
body .navbar {
  background-image: linear-gradient(to right, #8596a0 , #334858);
}
body.dark-mode .navbar {
  background-image: linear-gradient(to left, #334858 , #13171a);
}
/* Top navbar title color */
body.dark-mode .navbar-brand {
  color: #356158;
}

/* Make the nav tabs look better. */
body .nav-tabs {
  border-color: #334858;
  border-width: 2px;
  --bs-nav-tabs-border-width: 2px;
  --bs-nav-tabs-border-radius: 0.775rem;
  --bs-nav-tabs-border-color: #334858;
  --bs-nav-tabs-link-hover-border-color: #334858 #334858 #334858;
  --bs-nav-tabs-link-active-border-color: #495057 #495057 #495057;
}

body.dark-mode .navbar-nav .nav-link {
  color: #806f4e;
}

body.dark-mode .nav-link.active {
  color: #b8dec6;
}

body.dark-mode .nav-link:hover {
  color: #67a69a;
}

/* Make tooltips a bit wider. */
.tooltip-inner {
  max-width: 300px !important;
}

/* Progress bars can be slow, so speed them up. */
.progress-bar {
  transition-duration: 0s;
}

/* Make bootstrap card backgrounds slightly transparent. */
.card {
  margin-top: 3px;
  --bs-bg-opacity: 0.5 !important;
}

/* a dope font. */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url(/src/assets/fonts/nunito-v16-latin-regular.woff2) format("woff2");
}

/*
 * Moved the following import and font-face lines out of their corresponding
 * css libraries because the resources would not load from those locations.
 */

/* Taken out of bootstrap.*.css files. */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/src/assets/fonts/S6u8w4BMUTPHjxswWw.ttf?url) format('truetype');
  /* src: url(https://fonts.gstatic.com/s/lato/v23/S6u8w4BMUTPHjxswWw.ttf) format('truetype'); */
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/src/assets/fonts/S6uyw4BMUTPHvxk.ttf) format('truetype');
  /* src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHvxk.ttf) format('truetype'); */
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/src/assets/fonts/S6u9w4BMUTPHh6UVew8.ttf) format('truetype');
  /* src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVew8.ttf) format('truetype'); */
}

/* Taken out of bootstrap-icon.css */
@font-face {
  font-display: block;
  font-family: "bootstrap-icons";
  src: url("/src/assets/fonts/bootstrap-icons.woff2") format("woff2"),
       url("/src/assets/fonts/bootstrap-icons.woff") format("woff");
}