body {
  margin: 0;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  background-image: url(assets/images/vintage-background.png);
  background-color: #fffeee;
  transition: background-image 0.6s;
  background-position: top; 
  background-repeat: repeat;
  background-size: cover;
  text-align: center;
}

body.dark-mode {
  transition: background-image 0.4s;
  background-image: url(assets/images/dark-background.png);
  background-color: #1d3040;
}

/* These need to be 100% so their contents can fill the page. */
html, body, #app {
  height: 100%;
}

/* a dope font. */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local(""),
  url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

/* Make top-navbar background look cool. */
body .navbar {
  background-image: linear-gradient(to right, #8596a0 , #334858);
}
body.dark-mode .navbar {
  background-image: linear-gradient(to left, #334858 , #13171a);
}

/* Make the nav tabs look better. */
body .nav-tabs {
  border-color: #334858;
  border-width: 2px;
  --bs-nav-tabs-border-width: 2px;
  --bs-nav-tabs-border-radius: 0.775rem;
  --bs-nav-tabs-border-color: #334858;
  --bs-nav-tabs-link-hover-border-color: #334858 #334858 #334858;
  --bs-nav-tabs-link-active-border-color: #495057 #495057 #495057;
}
body.dark-mode .nav-link.active {
  color: #fff !important;
 }
body.dark-mode .nav-link:hover {
 color: #13967d;
}

/* Make tooltips a bit wider. */
.tooltip-inner {
  max-width: 300px !important;
}

/* Progress bars can be slow, so speed them up. */
.progress-bar {
  transition-duration: 0s;
}

/* Make bootstrap card backgrounds slightly transparent. */
.card {
  margin-top: 3px;
  --bs-bg-opacity: 0.5 !important;
}